<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-3.0.xsd">

    <bean id="simpleJavaProject" class="masterclass.spring.example.project.Project" scope="prototype">
        <constructor-arg type="java.util.List">
			<list>
				<ref bean="javaDeliverable"/>
			</list>
		</constructor-arg>
    </bean>
    
    <bean id="javaDeliverable" class="masterclass.spring.example.deliverable.SimpleDeliverable" scope="prototype">
        <constructor-arg type="masterclass.spring.example.developer.Developer" ref="javaDeveloper"/>
    </bean>
    
    <!-- TODO: Create some more projects and deliverables
               complexJavaProject, complexMultiTechnologyProject, ...
               
         Some useful syntax
         <list>
            <ref bean="..." />
            <ref bean="..." />
         </list>
    -->

    <!-- Our developers -->    
    <bean id="javaDeveloper" class="masterclass.spring.example.developer.JavaDeveloper"/>
    <bean id="perlDeveloper" class="masterclass.spring.example.developer.PerlDeveloper"/>
    <bean id="basicDeveloper" class="masterclass.spring.example.developer.BASICDeveloper"/>
    <bean id="roomfulOfMonkeys" class="masterclass.spring.example.developer.RoomfulOfMonkeys"/>

</beans>
