<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-3.0.xsd">

    <import resource="classpath:aopDefinitions.xml"/>
    
    <bean id="simpleJavaProject" class="masterclass.spring.example.project.Project" scope="prototype">
        <constructor-arg type="java.util.List">
			<list>
				<ref bean="javaDeliverable"/>
			</list>
		</constructor-arg>
    </bean>
    <bean id="javaDeliverable" class="masterclass.spring.example.deliverable.SimpleDeliverable" scope="prototype">
        <constructor-arg type="masterclass.spring.example.developer.Developer" ref="javaDeveloper1"/>
    </bean>
        
        
    <bean id="complexJavaProject" class="masterclass.spring.example.project.Project" scope="prototype">
        <constructor-arg index="0">
		    <bean class="masterclass.spring.example.deliverable.ComplexDeliverable" scope="prototype">
		        <constructor-arg type="java.util.List">
			        <list>
		               <ref bean="javaDeveloper1"/>
		               <ref bean="javaDeveloper2"/>
			        </list>
		        </constructor-arg>
		    </bean>
	    </constructor-arg>
    </bean>
    
        
    <bean id="complexMultiTechnologyProject" class="masterclass.spring.example.project.Project" scope="prototype">
    <constructor-arg type="java.util.List">
			<list>
				<ref bean="complexMultiTechnologyDeliverable"/>
			</list>
		</constructor-arg>
    </bean>
    <bean id="complexMultiTechnologyDeliverable" class="masterclass.spring.example.deliverable.ComplexDeliverable" scope="prototype">
        <constructor-arg type="java.util.List">
            <list>
               <ref bean="javaDeveloper1"/>
               <ref bean="javaDeveloper2"/>
               <ref bean="perlDeveloper"/>
               <ref bean="basicDeveloper"/>
               <ref bean="roomfulOfMonkeys"/>
            </list>
        </constructor-arg>
    </bean>

    <!-- Our developers -->    
    <bean id="javaDeveloper1" class="masterclass.spring.example.developer.JavaDeveloper"/>
    <bean id="javaDeveloper2" class="masterclass.spring.example.developer.JavaDeveloper"/>
    <bean id="perlDeveloper" class="masterclass.spring.example.developer.PerlDeveloper"/>
    <bean id="basicDeveloper" class="masterclass.spring.example.developer.BASICDeveloper"/>
    <bean id="roomfulOfMonkeys" class="masterclass.spring.example.developer.RoomfulOfMonkeys"/>

</beans>
